@import url('https://fonts.googleapis.com/css2?family=Gorditas&family=IM+Fell+English+SC&family=Sorts+Mill+Goudy&display=swap');

@import '../../assets/sass/custom.scss';

.fryja-first-part {
    background-image: url("../../assets/img/Grace of Fryja/Valhalla.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    overflow-x: hidden;
    min-height: 768px;
}

.fryja-second-part {
    background-image: url("../../assets/img/Grace of Fryja/castle.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    overflow-x: hidden;
    // min-height: 1024px;
}

.fryja-third-part {
    background-image: url("../../assets/img/Grace of Fryja/CoolGirl.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.fryja-inner-container {
    max-width: 1024px;
}

.fryja-title {
    width: 50%;

    @media (max-width: 768px) {
        margin-top: 20px;
        width: 80%;
    }
}

.custom-timer {
    margin-top: 1rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;

    .customer-timer-time {
        font-size: 3rem;
        font-family: 'IM FELL English SC';
        text-shadow: 1px 3px 4px #000000;

        @media (max-width: 768px) {
            font-size: 2.2rem;
        }
    }
}

.buy-ticket-button {
    background: rgba(18, 18, 18, 0.75);
    border-radius: 5px;
    padding: 25px;
    width: 300px;
    margin-top: 60px;
    transition: .3s ease-in-out;

    .but-title {
        width: 80%;

        @media (max-width: 768px) {
            width: 60%;
        }
    }

    &:hover {
        background: rgba(18, 18, 18, 0.9);
        cursor: pointer;
    }
}

.Buy-Ticket-Box {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 15px;
    background: rgba(18, 18, 18, 0.6);
    border-radius: 5px;
}

.custom-input {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px 5px 5px 5px;
    border: none;
    padding: 8px 20px;
    color: white;

    &:hover,
    &:focus {
        outline: none;
    }
}

.Comment-Box {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background: rgba(18, 18, 18, 0.6);
    border-radius: 5px;
}

.Next-Draw {
    font-size: 15px;
    font-weight: 400;
    color: #D3D3D3;
}

.Comment {
    font-size: 13px;
    font-weight: 400;
    color: #D3D3D3;
}

.control-but {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px;
    width: 30px;
    border-radius: 5px;
    color: white;
    transition: .3s ease-in-out;

    &:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
}

.buy-tickets-but {
    transition: .3s ease-in-out;

    &:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
}

.fryja-center {
    display: flex;
    justify-content: center;
    text-align: center;
}

.fryja-rounds {
    position: relative;
    margin-top: -300px;
    min-height: 300px;

    @media (max-width: 768px) {
        margin-top: 0px;
    }
}

.lottery-small-number-card {
    background: rgba(18, 18, 18, 1);
    width: 60px;
    border: 1px solid #555555;

    .lottery-number {
        font-family: 'IM FELL English SC';
        font-size: 35px;
        font-weight: 600;
        background: -webkit-linear-gradient(90deg, #dac374 45%, #6c5b3b 90%, #AC6E35 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        filter: drop-shadow(1px 4px 4px #000000);
    }
}

.circle-but {
    background: rgba(18, 18, 18, 1);
    border-radius: 50px;
    border: 1px solid #555555;
    width: 33px;
    padding: 5px;

    transition: .3s ease-in-out;

    &:hover {
        cursor: pointer;
        background: #dac374;
        border: 1px solid #000000;
        color: #000000;
    }
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {

    color: #dac374 !important;
}

.css-1aquho2-MuiTabs-indicator {
    background-color: #dac374 !important;
}

.css-8je8zh-MuiTouchRipple-root {
    font-family: 'Sorts Mill Goudy', serif !important;
}

.token-id-toggle {
    width: 100%;
    border: none !important;
    background-color: rgba(0, 0, 0, 0.6) !important;
    transition: all 0.3s ease-in;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;

    &:hover,
    &:active,
    &:focus {
        background-color: rgba(250, 248, 109, 0.4) !important;
        outline: none !important;
    }

    span {
        line-height: 24px;
        vertical-align: middle;
        margin-right: .6rem;
    }

    img {
        height: 16px;
        margin-right: .4rem;
    }
}

.dropdown-menu {
    min-width: inherit !important;
}

.token-id-menu {
    background-color: rgba(29, 26, 29, 0.9) !important;
    margin-top: -4px !important;
    width: 100%;

    .dropdown-item {
        color: $color-white-1;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: #e9ecef44 !important;
        }

        span {
            margin-right: 0.6rem;
            line-height: 24px;
            height: 24px;
            vertical-align: middle;
            width: 60%;
        }

        img {
            height: 16px;
            margin-right: 0.4rem;
            line-height: 30px;
        }
    }
}

.info-box {
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.2);

    .step-info-title {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        color: #B5B5B5;
    }

    .step-info-description {
        color: #8A8A8A;
        line-height: 25px;
    }
}

.ticket-box-win {
    padding: 10px;
    background: linear-gradient(180deg, rgba(148, 129, 101, 0.7) 0%, rgba(241, 218, 138, 0.7) 100%);
    border-radius: 5px;
    color: white;

    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;

    display: flex;
    align-items: center;
    text-align: center;

    .ticket-medal {
        width: 33px !important;
        padding: 2px;
        background: linear-gradient(180deg, #6C6C6C 0%, #DCC575 100%);    
        border-radius: 50px;

        .ticket-medal-inner-box {
            background: rgba(70, 68, 66, 1);
            border-radius: 50px;

            span {
                color: #F1DA8A;
                text-shadow: 0px 2px 4px #DCC575 100%;
            }
        }
    }
}

.ticket-box-lost {
    padding: 10px;
    background: linear-gradient(180deg, rgba(120, 112, 112, 0.6) 0%, rgba(196, 181, 181, 0.6) 100%);
    border-radius: 5px;
    color: white;

    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;

    display: flex;
    align-items: center;
    text-align: center;

    .ticket-medal {
        width: 33px !important;
        padding: 2px;
        background: linear-gradient(180deg, rgba(120, 112, 112, 0.6) 0%, rgba(196, 181, 181, 0.6) 100%);
        border-radius: 50px;

        .ticket-medal-inner-box {
            background: rgba(70, 68, 66, 1);
            border-radius: 50px;

            span {
                color: #B5B5B5;
                text-shadow: 0px 2px 4px rgba(120, 112, 112, 0.6);
            }
        }
    }
}