footer {
    background-color: black;
    padding: 1rem 0;
}

footer div a {
    color: white !important;
}

.footer-icon-list {
    a {
        fill: white;

        &:hover {
            fill: gray;
        }

        margin-right: 6px;
    }
}