@import url('http://fonts.cdnfonts.com/css/morris-roman:wght@300;400;500;600');
@import url('http://fonts.cdnfonts.com/css/zilluncial');    

$font-morris: 'Morris Roman', sans-serif;
$font-zill: 'Zilluncial', sans-serif;

$color-white-1: white;